/* navbar */
.navbar {
    position: relative;
    display: flex;
    padding: 16px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-vertical {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    background-color: var(--white-color);
}

.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-vertical.navbar-expand-md {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 250px;
    padding-right: 14px;
    padding-left: 14px;
}
.container {
    width: 100%;
    /* height: 100%; */
    margin-right: auto;
    margin-left: auto;
}
/* Brand */
.navbar__header {
    position: relative;
    display: flex;
    font-style: normal;
    text-decoration: none;
    justify-content: center;
}

.navbar-header__logo {
    background-color: var(--white-color);
    border-radius: 4px;
    height: 50px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: contain;
}
.navbar-header__name {
    font-size: 2.2rem;
    margin: 17px 10px;
}
/* Divider */
.navbar__divider {
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--title-text-color);
}

.navbar__collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav-item__link {
    font-style: normal;
    text-decoration: none;
    display: flex;
}

.nav-item__icon {
    width: 36px;
    font-size: 1.4rem;
    align-self: center;
}

.nav-item__text {
    font-size: 1.4rem;
    font-weight: 500;
}

.nav-item__text:hover {
    font-weight: 600;
}

.navbar__tittle {
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
}

/* Main content */
.main-content {
    position: relative;
    margin-left: 250px;
    /* width: 100%; */
    background-color: var(--green-color);
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
}

.content {
    /* width: 100%; */
    background-color: var(--blue-color);
    /* position: fixed; */
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0 39px;
}

.container-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 44px;
}

.navbar-top {
    box-sizing: border-box;
    /* position: absolute; */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-right: 0 !important; */
    /* padding-left: 0 !important; */
    background-color: transparent;
}
/* 
.main-content.navbar-top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: transparent;
} */

/* @media (min-width: 768px)
{
    .main-content .container-header
    {
        padding-right: 39px !important; 
        padding-left: 39px !important;
    }
} */

.navbar-top.navbar-expand-md {
    top: 0;
    bottom: 0;
    max-height: 76px; 
    /* display: block */
    /* overflow-y: auto; */
    box-sizing: border-box;
    /* width: 100%;

    margin: 15px 0; */
}
.h4.container__dashboard-name {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--db-text-color);
    font-weight: 900;
    justify-content: center;
    position: relative;
}

.container__dashboard-name:hover {
    color: rgba(88, 63, 188, 0.9);
}

.navbar-user {
    display: flex;
    position: absolute;
    justify-items: center;
    align-items: center;
    right: 0;
}

.navbar-user:hover .navbar-user-menu{
    display: block;
}

.navbar-user :hover {
    color: rgba(88, 63, 188, 0.9);
    cursor: pointer;
}

.navbar-user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0.1rem solid var(--db-text-color);
    font-size: 1.4rem;
}

.navbar-user-name {
    font-size: 1.4rem;
    padding-left: 6px;
    font-weight: 800;
    color: var(--db-text-color);
}

.navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 16px;
    top: 110%;
    right: 0;
    width: 193px;
    border-radius: 5px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px rgba(24, 25, 69, .4);
    display: none;
}

.navbar-user-name::after {
    content: "";
    display: block;
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    height: 30%;
    right: 0;
    top: 30px;
    /* display: none; */

}

.navbar-user-menu::before {
    content: "";
    border-width: 13px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10%;
    top: -20%;
}

.navbar-user__item a {
    width: 100%;
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.4rem;
    display: block;
    padding: 16px 0;
}

.navbar-nav__item:hover {
    font-weight: 400;
    background-color: rgba(88, 63, 188, .025);
}


.navbar-nav__item {
    /* color: rgba(235, 180, 44, 0.85); */
    /* background-color: #fafafa; */
    /* font-weight: 600; */
    /* color: var(--green-color); */
    /* border: 1px; */
} 

.header {
    padding: 55px 0 32px 0;
    position: relative;
    top: 0;
    bottom: 0;
    /* max-width: 1240px; */
}

.header__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 83px;
    width: 100%;
}

.header-body__card {
    background-color: var(--white-color);
    width: 262px;
    border-radius: 7px;
}

.body__card {
    padding: 16px 24px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.body__card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.card-inner__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-inner__number {
    font-size: 2rem;
    height: 2.4rem;
    font-weight: 900;
}

.card__icon {
    border-radius: 50%;
    font-size: 2.2rem;
    margin: 0 4px
}

.container-recent {
    padding: 48px 0 0 0;
    /* max-width: 1240px; */
}

.container-recent-inner {
    background-color: var(--white-color);
    height: 100%;
    border-radius: 7px;
    max-height: 100vh;
    overflow-y: auto;
}

/* ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #B7B7B7;
} */

.container-recent__heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
}

.container__heading-search {
    display: flex;
    min-height: 42px;
    width: 30%;
}
.heading-search__area {
    border-radius: 5px;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    margin-right: 6px;
    padding-left: 6px;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid rgba(88, 63, 188, .25);
    border-radius: 5px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    outline: none;
}

.recent__heading-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--title-text-color)
}

/* .table-body {
    max-height: 90vh;
    overflow-y: auto;    
} */
/* Footer */
.footer {
    margin: 44px 0;
    position: relative;
    /* top: 0;
    bottom: 0; */
    padding: 37px 0;
}

.footer__content {
    display: flex;
    color: var(--y-text-color);
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: space-between;
    padding: 0 18px;
}

.footer__content-brand-name {
    text-decoration: none;
    color: var(--y-text-color);
    font-size: 1.6rem;
    font-weight: 400;    
}

.footer__content-brand-name:hover {
    color: rgba(88, 63, 188, 0.85);
    font-weight: 500;
}

/* Staffs */
.heading__button {
    padding: 20px 24px;
}
/* add_staff */
[class*='shadow'] {
    transition: all .15s ease;
}

.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 7px;
    background-color: var(--white-color);
    background-clip: border-box;
}

.card__body-form {
    padding: 24px;
    flex: 1 1 auto;   
    /* font-family: inherit;  */
}

.form-row {
    /* display: flex; */
    /* margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap; */

    /* flex-direction: row; */
    /* position: relative; */
}
.form-row__flex {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.form-row > .col, .form-row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-col {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 5px;
    flex-direction: column;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }    
}
.form-col__label {
    font-size: 1.6rem;
    color: rgba(24, 25, 69, .8)
}

select, datalist, .form-control {
    font-size: 1.4rem;
    /* line-height: 24px; */
    display: block;
    width: 100%;
    height: calc(44px + 2px);
    padding: 10px 12px;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid rgba(88, 63, 188, .25);
    border-radius: 7px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    outline: none;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 1;
    background-color: rgba(24, 25, 69, .08);
}

.form-col-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-0 {
    margin: 0;
}

.heading-small {
    font-size: 1.2rem;
    padding: 4px 16px;
    letter-spacing: .04em;
    text-transform: uppercase;
    /* width: 100%; */
    /* padding-left: 24px; */
}

.form-small {
    padding-left: 24px;
}

.col-xl-8 {
    flex-grow: 2;
    margin-right: 15px;
}

.col-xl-4 {
    margin-left: 15px;
    flex-grow: 2;
    max-height: 266px;
}
.justify-content-center {
    justify-content: center !important;
}
.card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: 0.6rem;
}
.rounded-circle {
    border-radius: 50% !important;
}

@media (min-width: 992px){
    .order-lg-2 {
        order: 2;
    }
}
@media (min-width: 992px) {
    .col-lg-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }
}

@media (min-width: 992px) {
    .col-lg-7 {
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
        margin: 50px 0 20px 0;
    }
}

.display-2 {
    font-size: 4rem;
    font-weight: 550;
    line-height: 1.5;
    color: var(--title-text-color)
}

/* ======= Toast message ======== */
        
#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 14px 0;
    min-width: 350px;
    max-width: 400px;
    max-height: 80px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
    animation: slideInLeft ease .3s, fadeOut linear 0.7s 1s forwards;
}
    
@keyframes slideInLeft {
from {
    opacity: 0;
    transform: translateX(calc(100% + 20px));
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes fadeOut {
to {
    opacity: 0;
}
}
    
.toast--success {
    border-color: #47d864;
}
    
.toast--success .toast__icon {
    color: #47d864;
}
    
.toast--info {
    border-color: #2f86eb;
}
    
.toast--info .toast__icon {
    color: #2f86eb;
}
    
.toast--warning {
    border-color: #ffc021;
}
    
.toast--warning .toast__icon {
    color: #ffc021;
}
    
.toast--error {
    border-color: #ff623d;
}
    
.toast--error .toast__icon {
    color: #ff623d;
}
    
.toast + .toast {
    margin-top: 24px;
}
    
.toast__icon {
    font-size: 24px;
}
    
.toast__icon,
.toast__close {
    padding: 0 16px;
}
.toast__close:hover {
    color: rgba(0, 0, 0, 0.5);
}

.toast__body {
    flex-grow: 1;
}
    
.toast__title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
    
.toast__msg {
    font-size: 12px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}
    
.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
    